services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile

    container_name: calorie_backend

    ports:
      - "8000:8000"

    env_file:
      - ../.env

    volumes:
      - ../logs:/app/logs
      - ../uploads:/app/uploads

    restart: unless-stopped

    environment:
      - PYTHONUNBUFFERED=1
      - ENV=production

networks:
  default:
    driver: bridge
